$color-azul: #0e1e55;
$color-rosa-fuerte: #ec1f7d ;
$color-rosa: #f48db1 ;
$color-crema: #f3e3db;
$color-gris: #837c94 ;

$font-titulos: 'Roboto Flex', sans-serif;
$font-normal: 'Roboto Condensed', sans-serif;